<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tojoy.tj_flutter_router_plugin">
    <application
        tools:replace="android:allowBackup"
        android:allowBackup="true">
        <activity
            android:name=".TJFlutterActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/NormalTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".TJWebViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/NormalTheme"/>
    </application>
</manifest>
